@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: Poppins;
}

h1 {

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
}

