@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: Poppins;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 3rem 0;
    color: #2c4d5d;
}

a {
    text-decoration: none;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

textarea {
    height: 1.5rem;
    width: 35rem;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 10px;
}

select {
   height: 3rem;
   width: 17rem;
   font-size: 1.5rem; 
}

input {
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    background: #2c4d5d;
    color: white;
}

.garble {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 3rem;
}

img {
    display: none;
    height: 20rem;
}

p {
    font-size: 1.5rem;
    margin-top: 5rem;
}
